 
header{
  background-color: aquamarine;
  margin: 10px;
  display: inline-flex;
  justify-content: space-evenly;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: medium;
  text-align: right;
}
.hi{
  display: inline-flex;
  justify-content: space-evenly;
  text-align: right;
}

.foto{
  width: 400px;
  height: 350px;
  border-radius: 0%;
  display: inline-flex;
  justify-content: space-evenly;
  text-align: left;
 
}
body { 

  background-color: rgb(255, 255, 255);
  margin:10px;
  position: relative;
  padding-bottom: 1em;
  
  
}

.container-fluid{ 
display: flex;
justify-content: space-evenly;
gap: 20px;
font-size: medium;


}

.card{ 
  display: inline-flex;
  justify-content: center;
  gap: 40px;
  background-color: rgb(255, 255, 255);
  text-align: center;


}


footer{ 
background-color: rgb(219, 248, 238);
text-align: center;
bottom: 0;
position: absolute;
width: 100%; padding:1em 0;


}